menu "Application Configuration"

config APP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
    SSID (network name) for the example to connect to.

config APP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
    WiFi password (WPA or WPA2) for the example to use.

config APP_CURRENCY_API_KEY
    string "APILayer key"

endmenu
